<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aispeech.aios.bridge"
    android:sharedUserId="android.uid.system"
    android:versionCode="3"
    android:versionName="1.1.2">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BridgeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receiver.BridgeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="aios.intent.action.phone.BOOT" />
                <action android:name="aios.intent.action.music.BOOT" />
                <action android:name="aios.intent.action.map.BOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="action.colink.remotecommand" />
                <action android:name="action.colink.remote_navi" />
                <action android:name="com.android.ecar.send" />
                <action android:name="com.glsx.bootup.send.autonavi" />
                <action android:name="action.colink.command_showway_cld" />
                <action android:name="com.intent.action.MIC_CLICK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.PhoneBookReceive">
            <intent-filter>
                <action android:name="com.colink.zzj.contact.done" />
                <action android:name="com.wanma.action.PLAY_TTS" />
                <action android:name="com.glsx.tts.speaktext" />
                <action android:name="com.android.ecar.send" />
                <action android:name="com.ecar.call.idle" />
                <action android:name="android.intent.action.ACC_ON_KEYEVENT" />
                <action android:name="android.intent.action.ACC_OFF_KEYEVENT" />
                <action android:name="android.intent.action.BLUETOOTH_PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BridgeService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".PhoneBookService"
            ></service>
    </application>

</manifest>